<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ohih.town.domain.forum.mapper.ForumMapper">
    <!--  List<Forum> getAllForums();  -->
    <select id="getAllForums" resultType="Forum">
        select c.category_id as categoryId,
               c.name        as categoryName,
               b.board_id    as boardId,
               b.name        as boardName
        from boards as b
                 left join categories as c on b.category_id = c.category_id;
    </select>

    <!--  Long getBoardPostTotalCount(Map map);  -->
    <select id="getBoardPostTotalCount" parameterType="Map" resultType="Long">
        select count(*)
        from posts as p
        left join boards as b on p.board_id = b.board_id
        where b.name = #{board_name}
        <if test="search.searchFilter == 'author'">
            and author like concat('%', #{search.searchValue}, '%')
        </if>
        <if test="search.searchFilter == 'subject'">
            and subject like concat('%', #{search.searchValue}, '%')
        </if>
        <if test="search.searchFilter == 'body'">
            and text like concat('%', #{search.searchValue}, '%')
        </if>;
    </select>

    <!--  List<BoardPost> getBoardPosts(Map map);  -->
    <select id="getBoardPosts" parameterType="Map" resultType="BoardPost">
        select p.post_id   as postId,
               p.user_id   as userId,
               p.user_type as userType,
               p.author,
               p.subject,
               p.views,
               p.created_at,
               pi.saved_file_name as savedFileName,
               pi.extension
        from posts as p
                 left join users on p.user_id = pi.user_id
        where p.board = (select name from boards where board_id = #{board_id});
    </select>

    <!--  String getBoardNameByPostId(Long postId);  -->
    <select id="getBoardNameByPostId" parameterType="Long" resultType="String">
        select b.name
        from posts as p
                 left join boards as b on p.board_id = b.board_id
        where p.post_id = #{post_id};

    </select>
</mapper>
