<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="ohih.town.domain.board.dto.Board" alias="Board"/>

        <typeAlias type="ohih.town.domain.user.dto.RegisterRequest" alias="RegisterRequest"/>
        <typeAlias type="ohih.town.domain.user.dto.UserInfo" alias="UserInfo"/>
        <typeAlias type="ohih.town.domain.user.dto.ProfileImage" alias="ProfileImage"/>
        <typeAlias type="ohih.town.domain.user.dto.GuestbookPermission" alias="GuestbookPermission"/>
        
        <typeAlias type="ohih.town.domain.AccessInfo" alias="AccessInfo"/>

        <typeAlias type="ohih.town.domain.post.dto.Attachment" alias="Attachment"/>
        <typeAlias type="ohih.town.domain.post.dto.PostContent" alias="PostContent"/>
        <typeAlias type="ohih.town.domain.post.dto.PostDetails" alias="PostDetails"/>
        <typeAlias type="ohih.town.domain.post.dto.SimplePost" alias="SimplePost"/>

        <typeAlias type="ohih.town.domain.comment.dto.Comment" alias="Comment"/>

        <typeAlias type="ohih.town.domain.notification.dto.Notification" alias="Notification"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis.mappers.BoardMapper.xml"/>
        <mapper resource="mybatis.mappers.UserMapper.xml"/>
        <mapper resource="mybatis.mappers.PostMapper.xml"/>
        <mapper resource="mybatis.mappers.CommentMapper.xml"/>
        <mapper resource="mybatis.mappers.NotificationMapper.xml"/>
    </mappers>
</configuration>