<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{../layout :: layout(~{:: title}, ~{:: pageResources}, ~{:: body})}">
    <head>
        <title>
            Town
        </title>

        <pageResources>
            <script type="text/javascript" src="/jquery-3.6.0/jquery-3.6.0.min.js"></script>

            <script type="text/javascript" src="/bootstrap-5.3.0-alpha2-dist/js/bootstrap.bundle.min.js"></script>
            <link rel="stylesheet" href="/bootstrap-5.3.0-alpha2-dist/css/bootstrap.min.css"/>
        </pageResources>
    </head>

    <body class="container">
        <h1>Board</h1>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Author</th>
                            <th>Subject</th>
                            <th>Date</th>
                            <th>Views</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post : ${posts}">
                            <td th:text="${post.id}"></td>
                            <td th:text="${post.author}"></td>
                            <td><a th:href="@{'/board/' + ${name} + '/' + ${post.id}}"><span
                                    th:text="${post.subject}"></span></a></td>
                            <td th:text="${post.createdAt}"></td>
                            <td th:text="${post.views}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${paging.startPage > 0}" class="page-item">
                            <a class="page-link" th:href="@{'/board/' + ${name} + '?page=' + ${paging.startPage - 1}}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}" class="page-item">
                            <a class="page-link" th:classappend="${page == paging.presentPage} ? 'active' : ''"
                               th:href="@{'/board/' + ${name} + '?page=' + ${page}}"><span th:text="${page + 1}"></span></a>
                        </li>
                        <li th:if="${paging.endPage < paging.totalPages - 1}" class="page-item">
                            <a class="page-link" th:href="@{'/board/' + ${name} + '?page=' + ${paging.endPage + 1}}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>
