<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{../layout :: layout(~{:: title}, ~{:: pageResources}, ~{:: body})}">
    <head>
        <title>
            Town
        </title>

        <pageResources>
        </pageResources>
    </head>

    <body class="container">
        <h1 class="text-center my-5">Forum Selection</h1>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Board Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="forum : ${forums}">
                            <td th:text="${forum.categoryName}"></td>
                            <td th:text="${forum.boardName}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
