<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{../layout :: layout(~{:: title}, ~{:: pageResources}, ~{:: body})}">
    <head>
        <title>
            Town
        </title>

        <pageResources>
            <script src="/summernote/summernote-lite.js" type="text/javascript"></script>
            <script src="/summernote/lang/summernote-ko-KR.js" type="text/javascript"></script>

            <link href="/summernote/summernote-lite.css" rel="stylesheet"/>
        </pageResources>
    </head>


    <body class="container">
        <form th:action="@{/upload/post}"
              method="post"
              class="column overflow">

            <input type="text" name="subject"/>

            <textarea id="summernote" name="body"></textarea>

            <input type="submit" value="enter!"/>
        </form>

        <script type="text/javascript">
            $(document).ready(function () {
                //여기 아래 부분
                $('#summernote').summernote({
                    height: 400,                 // 에디터 높이
                    minHeight: null,             // 최소 높이
                    maxHeight: null,             // 최대 높이
                    focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                    lang: "ko-KR"					// 한글 설정
                    // placeholder: '최대 2048자까지 쓸 수 있습니다'	//placeholder 설정
                });
            });
        </script>
    </body>


</html>
